.vscode/**/*
.gitignore
.travis.yml
appveyor.yml
src/**/*
out/tests/**/*
**/*.js.map
**/*.ts
build
sampleworkspace
tsconfig.json
out
sampleWebWorkerWorkspace
sampleWorkspace
examples
.github
.idea
.vscode
yarn-error.log
yarn.lock
CHANGELOG.md
readme.md
ThirdPartyNotices.txt
node_modules/.bin
node_modules/.yarn-integrity
node_modules/@babel
node_modules/@eslint
node_modules/@humanwhocodes
node_modules/@microsoft
node_modules/@nodelib
node_modules/@supercharge
node_modules/@tootallnate
node_modules/@types
node_modules/@typescript-eslint
node_modules/@ungap
node_modules/acorn
node_modules/acorn-jsx
node_modules/agent-base
node_modules/ajv
node_modules/ansi-colors
node_modules/ansi-regex
node_modules/ansi-styles
node_modules/anymatch
node_modules/argparse
node_modules/array-union
node_modules/astral-regex
node_modules/at-least-node
node_modules/await-notify
node_modules/azure-devops-node-api
node_modules/balanced-match
node_modules/base64-js
node_modules/big-integer
node_modules/binary
node_modules/binary-extensions
node_modules/bl
node_modules/bluebird
node_modules/boolbase
node_modules/brace-expansion
node_modules/braces
node_modules/browser-stdout
node_modules/buffer
node_modules/buffer-crc32
node_modules/buffer-indexof-polyfill
node_modules/buffers
node_modules/call-bind
node_modules/callsites
node_modules/camelcase
node_modules/chainsaw
node_modules/chalk
node_modules/cheerio
node_modules/cheerio-select
node_modules/chokidar
node_modules/chownr
node_modules/cliui
node_modules/color-convert
node_modules/color-name
node_modules/commander
node_modules/concat-map
node_modules/core-util-is
node_modules/cross-spawn
node_modules/css-select
node_modules/css-what
node_modules/debug
node_modules/decamelize
node_modules/decompress-response
node_modules/deep-extend
node_modules/deep-is
node_modules/detect-libc
node_modules/diff
node_modules/dir-glob
node_modules/doctrine
node_modules/dom-serializer
node_modules/domelementtype
node_modules/domhandler
node_modules/domutils
node_modules/duplexer2
node_modules/emoji-regex
node_modules/end-of-stream
node_modules/enquirer
node_modules/entities
node_modules/esbuild
node_modules/esbuild-windows-64
node_modules/escalade
node_modules/escape-string-regexp
node_modules/eslint
node_modules/eslint-scope
node_modules/eslint-utils
node_modules/eslint-visitor-keys
node_modules/espree
node_modules/esprima
node_modules/esquery
node_modules/esrecurse
node_modules/estraverse
node_modules/esutils
node_modules/events
node_modules/exenv-es6
node_modules/expand-template
node_modules/fast-deep-equal
node_modules/fast-glob
node_modules/fast-json-stable-stringify
node_modules/fast-levenshtein
node_modules/fastq
node_modules/fd-slicer
node_modules/file-entry-cache
node_modules/fill-range
node_modules/find-up
node_modules/flat
node_modules/flat-cache
node_modules/flatted
node_modules/fs-constants
node_modules/fs-extra
node_modules/fs.realpath
node_modules/fstream
node_modules/function-bind
node_modules/functional-red-black-tree
node_modules/get-caller-file
node_modules/get-intrinsic
node_modules/github-from-package
node_modules/glob
node_modules/glob-parent
node_modules/globals
node_modules/globby
node_modules/graceful-fs
node_modules/growl
node_modules/has
node_modules/has-flag
node_modules/has-symbols
node_modules/he
node_modules/hosted-git-info
node_modules/htmlparser2
node_modules/http-proxy-agent
node_modules/https-proxy-agent
node_modules/ieee754
node_modules/ignore
node_modules/ignore-walk
node_modules/import-fresh
node_modules/imurmurhash
node_modules/inflight
node_modules/inherits
node_modules/ini
node_modules/is-binary-path
node_modules/is-extglob
node_modules/is-fullwidth-code-point
node_modules/is-glob
node_modules/is-number
node_modules/is-plain-obj
node_modules/is-unicode-supported
node_modules/isarray
node_modules/isexe
node_modules/js-tokens
node_modules/js-yaml
node_modules/json-schema-traverse
node_modules/json-stable-stringify-without-jsonify
node_modules/jsonfile
node_modules/keytar
node_modules/leven
node_modules/levn
node_modules/linkify-it
node_modules/listenercount
node_modules/locate-path
node_modules/lodash.merge
node_modules/lodash.truncate
node_modules/log-symbols
node_modules/lru-cache
node_modules/markdown-it
node_modules/mdurl
node_modules/merge2
node_modules/micromatch
node_modules/mime
node_modules/mimic-response
node_modules/minimatch
node_modules/minimist
node_modules/mkdirp
node_modules/mkdirp-classic
node_modules/mocha
node_modules/moment
node_modules/ms
node_modules/mute-stream
node_modules/nanoid
node_modules/napi-build-utils
node_modules/natural-compare
node_modules/node-abi
node_modules/node-addon-api
node_modules/normalize-path
node_modules/nth-check
node_modules/object-inspect
node_modules/once
node_modules/optionator
node_modules/p-limit
node_modules/p-locate
node_modules/parent-module
node_modules/parse-semver
node_modules/parse5
node_modules/parse5-htmlparser2-tree-adapter
node_modules/path-browserify
node_modules/path-exists
node_modules/path-is-absolute
node_modules/path-key
node_modules/path-type
node_modules/pend
node_modules/picomatch
node_modules/prebuild-install
node_modules/prelude-ls
node_modules/process-nextick-args
node_modules/progress
node_modules/promisify-child-process
node_modules/proper-lockfile
node_modules/pump
node_modules/punycode
node_modules/qs
node_modules/querystring
node_modules/queue-microtask
node_modules/randombytes
node_modules/rc
node_modules/read
node_modules/readable-stream
node_modules/readdirp
node_modules/recursive-readdir
node_modules/regexpp
node_modules/replace-string
node_modules/require-directory
node_modules/require-from-string
node_modules/resolve-from
node_modules/retry
node_modules/reusify
node_modules/rimraf
node_modules/run-parallel
node_modules/safe-buffer
node_modules/sax
node_modules/semver
node_modules/serialize-javascript
node_modules/setimmediate
node_modules/shebang-command
node_modules/shebang-regex
node_modules/side-channel
node_modules/signal-exit
node_modules/simple-concat
node_modules/simple-get
node_modules/slash
node_modules/slice-ansi
node_modules/sprintf-js
node_modules/string-width
node_modules/string_decoder
node_modules/strip-ansi
node_modules/strip-json-comments
node_modules/supports-color
node_modules/tabbable
node_modules/table
node_modules/tar-fs
node_modules/tar-stream
node_modules/text-table
node_modules/tmp
node_modules/to-regex-range
node_modules/traverse
node_modules/tslib
node_modules/tsutils
node_modules/tunnel
node_modules/tunnel-agent
node_modules/type-check
node_modules/type-fest
node_modules/typed-rest-client
node_modules/typescript
node_modules/uc.micro
node_modules/underscore
node_modules/universalify
node_modules/unzipper
node_modules/uri-js
node_modules/url
node_modules/url-join
node_modules/util-deprecate
node_modules/v8-compile-cache
node_modules/vsce
node_modules/vscode-test
node_modules/which
node_modules/word-wrap
node_modules/workerpool
node_modules/wrap-ansi
node_modules/wrappy
node_modules/xml2js
node_modules/xmlbuilder
node_modules/y18n
node_modules/yallist
node_modules/yargs
node_modules/yargs-parser
node_modules/yargs-unparser
node_modules/yauzl
node_modules/yazl
node_modules/yocto-queue
node_modules/deep-diff
node_modules/follow-redirects
node_modules/mime-db
node_modules/mime-types
node_modules/nodejs-file-downloader
node_modules/sanitize-filename
node_modules/truncate-utf8-bytes
node_modules/utf8-byte-length
